<div class="alert alert-info">
  <strong>OMÜ BPYS'ye Hoş Geldiniz!</strong><br>
  Yapabilecekleriniz:<br>
  • Öğrencileri CSV ile sisteme tanımlayabilirsiniz.<br>
  • Sisteme danışmanları ekleyebilirsiniz.<br>
  • Grup oluşturma süreci sonrası grubu olamayan öğrencileri otomatik olarak gruplayabilirsiniz.<br>
  • Proje seçim süreci sonrası otomatik grup-proje eşleştirmesi yapabilirsiniz.<br>
  • Sistem genelini takip edebilir, öğrencilerin kayıt olma ve giriş yapma işlemlerini yönetebilir ve tüm kayıtları görüntüleyebilirsiniz.
</div>