

<div class="container">
  <div class="alert alert-info">
    <strong>OMÜ BPYS'ye Hoş Geldiniz!</strong><br>
    Yapabilecekleriniz:<br>
    • Kendi projelerinizi sisteme ekleyebilir ve mevcut projelerinizi düzenleyebilirsiniz.<br>
    • Öğrenciler tarafından projelerinize yapılan başvuruları değerlendirebilirsiniz.<br>
    • Öğrenciler tarafından önerilen projeleri inceleyebilir ve değerlendirebilirsiniz.<br>
    • Size atanan grupları görüntüleyebilirsiniz.
  </div>
</div>