
<p>Merhaba <%= @student.full_name %>,</p>

<p>Henüz bir proje grubu oluşturmadığınız tespit edilmiştir. Lütfen sistemde bir grup oluşturun.</p>

<p>Teşekkürler,</p>
<p>OMÜ Bitirme Projesi Yönetim Sistemi</p>
